<!--       массив чекбоксов     -->
<% @checkboxs = @columns_available_to_render %>
<% @c_tr = @columns_default if @c_tr.size == 0%>


<%= field_set_tag 'Select columns for display/ Выберите колонки для отображения' do %>
<table border="0" id="select_columns_table">
  <tr>
    <td>
      <% @checkboxs.each_index do |i| %>
          <% if @c_tr.include?(@checkboxs[i]) %>
            <%= check_box_tag(@checkboxs[i], 1, true, class: 'checkbox chkBox') %>
          <% else %>
            <%= check_box_tag(@checkboxs[i], 0, false, class: 'checkbox chkBox') %>
          <% end %>
          <label for="<%=@checkboxs[i] %>" class="lb_chk" title="<%=@checkboxs[i] %>">
            <%= truncate(@checkboxs[i], length: 18) %>
          </label>
          <br><br>
        <% if (i.succ % CBOX_IN_CEIL == 0) && (i.succ < @checkboxs.size) %>
             </td> <td>
        <% end %>
      <% end %>
    </td>
  </tr>
</table>
<% end %>

<!-- Для корректного отображения checkbox необходимы 3 параметра
====================================================================
check_box_tag('rock','rock musik', false) label_text_for_checkBox

1 - определяет параметры `id` и `name`
2 - определяет параметр `value`
3 - определяет параметр `checked`

# => <input type="checkbox" name="rock" id="rock" value="rock musik"> -->
