<table id="filters_table" border="0" width="99%" align="center">
    <tr>
      <td class="big_padding"> <%= submit_tag(value = "Применить", id: 'btn_apply', class: 'btn btn-query') %>  </td>

      <td class="big_padding"> строк на страницу: <br>
        <% @limit = ROWS_LIMIT.second  unless (@limit) %>
        <%= select_tag 'limit_filter', options_for_select(ROWS_LIMIT.each{ |elem| [elem] },
                          @limit), class: 'btn btn-50 select_width_auto' %>
      </td>

      <td class="big_padding"> порядок сортировки: <br>
        <%= if @sort
              @sort = 'DESC'
              select_tag('sort_filter', options_for_select({ 'по возрастанию' => 'ASC', 'по убыванию' => 'DESC' },
                          'DESC'), class: 'btn select_width_auto', disabled: true)
            else
              @sort = 'ASC'
              select_tag('sort_filter', options_for_select({ 'по возрастанию' => 'ASC', 'по убыванию' => 'DESC' },
                          'ASC'), class: 'btn select_width_auto')
            end%>
      </td>

      <td class="big_padding"> виды танков: <br>
        <% @panzers_type = PANZER_TYPES.first  unless(@panzers_type)%>
        <%= select_tag 'type_filter', options_for_select(PANZER_TYPES.each{ |elem| [elem] },
                       @panzers_type), class: 'btn select_width_auto' %>
      </td>

      <td class="big_padding"> уровень: <br>
        <% @level = LEVELS.first  unless(@level) %>
        <%= select_tag 'level_filter', options_for_select(LEVELS.each{ |elem| [elem] },
                       @level), class: 'btn select_width_auto' %>
      </td>

      <td class="big_padding"> страна: <br>
        <% @country = COUNTRIES.first  unless(@country) %>
        <%= select_tag 'country_filter', options_for_select(COUNTRIES.each{ |elem| [elem] },
                       @country), class: 'btn select_width_auto' %>
      </td>

      <td class="big_padding"> сортировать по: <br>
        <% @order_by = 'level' unless (@order_by) %>
        <%= select_tag 'order_by_filter', options_for_select(@fields.each{ |col| [col] },
                       @order_by), class: 'btn select_width_auto' %>
      </td>
    </tr>
 </table>
