<% @columns_to_render = @columns_available_to_render %>
<% @columns_default = ['name', 'country', 'level', 'xp', 'processed_fights',
                     'skill_battle', 'profit_battle', 'profit_battle_premium']%>

<br>* переключение сортировки (возрастание/убывание): клик по заголовку колонки
<br>** Цена на премиумную технику указана в игровом золоте



<table id='main_table' border="1" align="center">
<!--первая строка таблицы - заголовки-->
  <tr>
    <% @c_tr.each do |col| %>
      <td>
        <div class="first_row">
<!--         <%#= button_to col, static_pages_path %> -->
<!--          <a id="main_table_<%= col %>" href="javascript:void(0)"
onclick="document.getElementsById('select_form').submit();return false;">
<%#= col %>

          </a> -->
          <b>
          <label for="apply" class="header_label"> <%= col %></label>
          </b>
        </div>
      </td>
    <% end %>
  </tr>

<!-- строки с информацией -->
  <% @panzers.each do |panzer| %>
    <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
      <% @c_tr.each do |col| %>
        <td class="<%= col %>_data">
           <%= renderPanzerData(panzer[col.to_s]) %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
