<br>* переключение сортировки (возрастание/убывание): клик по заголовку колонки
<br>** Цена на премиумную технику указана в игровом золоте



<table id='main_table' border="1" align="center">
<!-- первая строка таблицы - заголовки колонок -->
  <tr class="first_row">
    <% @caption_tr.each do |col| %>
      <td>
        <div class="label_for2">
          <label for="btn_apply" class="header_label" id="label_for_<%= col %>">
            <%= col %>
          </label>
        </div>
      </td>
    <% end %>
  </tr>

<!-- строки с информацией -->
  <% @panzers.each do |panzer| %>
    <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
      <% @c_tr.each do |col| %>
        <td class="<%= createClass(col, @order_by, panzer[col]) %>">
           <%= renderPanzerData(panzer[col.to_s]) %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
