<table id="header_table">
  <tr>
    <td>The current date is <%= Time.now.strftime("%Y-%m-%d") %> | StaticPages#home  </td>
    <td id="i18n">
      <a href="<%= root_path %>"> <%= image_tag('eng.gif') %> </a>
	  &nbsp;
	  <a href="<%= root_path %>"> <%= image_tag('rus.gif') %> </a>
    </td>
  </tr>
</table>

<div id="tank_img">
  <%= image_tag('type59.png', id: 'redsquare') %>
</div>

<hr />
<p>
  Что это за сайт, что за цифры и зачем все это нужно  =>
  <a href="<%= static_pages_about_path %>">  ccылка </a>
</p>
<p>
  На этой странице представлена таблица доходности всей техники игры
  "World of Tanks". Любителям танковых сражений эта таблица поможет проанализировать различные показатели
  боевых машин и целесообразность преобретения той или иной машины, в зависимости от целей, которые поставил себе
  игрок
</p>

<hr>
<% countries = ['CCCP', 'Германия', 'Франция', 'Британия' 'Китай', 'Япония', 'all'] %>
<% levels = (1..10).to_a.push('all') %>
<% panzer_types  = ['lt', 'st', 'tt', 'pt', 'sau', 'all'] %>
<% sort_order    = ['Asc', 'Desc'] %>
<% rows_limit    = [10, 20, 40]    %>

<%#@panzers = Panzer.all %>
<%  %>



<%= form_tag root_path, :method => 'get', :id => 'select_form' do %>
  <%= render 'filters_table'  %>
  <hr>
  <div class="spoil">
    <input type="button" value="Выбор колонок для вывода" class="input-button" id ="btn_spoiler">

      <div id="div_spoiler" style="display: none;">
        Select columns for display/ Выберите колонки для отображения
        <%= render 'columns_to_render_table' %>
      </div><!--id="div_spoiler"-->
  </div><!--class="spoil"-->

  <hr>
  <br>* переключение сортировки (возрастание/убывание): клик по заголовку колонки
  <br>** Цена на премиумную технику указана в игровом золоте

  <%= render 'main_table' %>
  
<% end %>


