<%=favicon_link_tag %>
<table id="header_table" border="0">
  <tr>
    <td>  <%= image_tag('rails_logo1.png', size:"90x50") %></td>
    <td align="center" valign="center">
      <div class="h1">
         <h1> World of Tanks analize page </h1>
      </div>
    </td>
    <td id="i18n">    <%= image_tag('wot_logo.png') %> </td>
  </tr>
</table>

<div id="anima_div">
  <%= image_tag('type59.png', id: 'redsquare', alt: 'type-59 image') %>
</div>
<hr />
<p>
  Что это за сайт, что за цифры и зачем все это нужно  =>
  <a href="<%= static_pages_about_path %>">  ccылка </a>
</p>
<p>
  На этой странице представлена таблица доходности техники игры
  "World of Tanks". Любителям танковых сражений эта таблица поможет проанализировать различные показатели
  боевых машин и целесообразность преобретения той или иной машины, в зависимости от целей, которые поставил себе
  игрок
</p>
<hr />


<!-- ============================ -->
  <%= render 'form_for_query' %>
<!-- ============================ -->
  <hr>
  <% $where_hash = Hash.new %>
  <% $where_hash[:type_]   = @panzers_type if (@panzers_type) && (@panzers_type != 'all')%>
  <% $where_hash[:level]   = @level   if (@level)   && (@level != 'all') %>
  <% $where_hash[:country] = @country if (@country) && (@country != 'all') %>
  <% $where_str = createWhere($where_hash) %>

  <% $order_str = ' ORDER BY ' + @order_by + ' ' + @sort + ', country'%>
  <% $limit_str = ' LIMIT ' + @limit.to_s %>
  <% $query = 'SELECT * FROM panzers ' + $where_str + $order_str + $limit_str%>



<!--   <%# @panzers  = Panzer.where("type_=? AND level=?", @panzers_type, @level).order($order_string).limit(@limit) %> -->
  <% @panzers  = Panzer.find_by_sql($query) %>

  <%#= render 'debug_info' %>
<!-- ===================================================================== -->
  <% if @panzers.count > 0 %>
    <%= render 'main_table' %>
  <% else %>
    <p>По данным критериям техника не найдена. Измените условия отбора.</p>
  <% end %>
<!-- ====================================================================== -->

  <br>
  <hr />
  <div style="font-size: 10px;" >
    Стилизация элементов `CheckBox` взята из сайта http://dimox.name/
    <br>
    `WorldOfTanks` зарегистрированная марка Wargaming.net
  </div>
